.nav {
  display: flex;
  align-items: center; /* выравнивает по центру */
  justify-content: space-between; /* лого слева, ссылки справа */
  padding: 15px 150px 30px 150px;
}
header {
  width: 1530px;
  height: 90px;
  background-color: #ffffff;
}
.nav__logo {
  display: inline-block; /* ← добавили */
  color: #1b1a1a;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  font-size: 22px;
  line-height: 36px;
  margin-top: 5px; /* теперь опускается */
}
.nav__logo span {
  font-weight: 400;
}
.nav__item {
  list-style: none;
}
.list__style {
  display: flex;
  align-items: center;
  gap: 50px;
}
.list__style ul li a {
  text-decoration: none;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  gap: 40px; /* расстояние между ссылками */
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__links a {
  text-decoration: none;
  color: #1b1a1a;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 12px;
}
.nav__cta {
  background-color: #000000;
  color: white;
  border: none;
  padding: 13px 29px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 650;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 150px;
  margin: 0;
  background-color: #f5f3f0;
  gap: 0;
  margin-top: -20px;
}
.hero__content {
  flex: 0 0 auto;
  width: 509px;
  padding-right: 80px;
}
.hero__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645c55;
  margin: 0 0 20px 0;
}
.hero__content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  color: #1b1a1a;
  margin: 0 0 20px 0;
}
.hero__text {
  color: #403e3b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 30px 0;
}
.Read_more {
  color: #1b1a1a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}

.Our-content {
  margin-left: 400px;
  margin-top: 80px;
  color: #403e3b;
  font-family: Poppins, "Lucida Sans Regular", sans-serif;
  font-weight: 200;
}
.info_text {
  margin-left: 630px;
  width: 494px;
  height: 115px;
  color: #403e3b;
}
.info_image {
  width: 84px;
  height: 84px;
  margin-left: 628px;
  margin-top: 5px;
}
.info_content h3 {
  margin-left: 738px;
  margin-top: -60px;
}
.image_p {
  margin-left: 738px;
  margin-top: -20px;
  color: #645c55;
}
.info_content {
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", Verdana,
    sans-serif;
}
.images_info {
  width: 1525px;
  height: 600px;
  margin-top: 100px;
}
.info_images {
  color: #403e3b;
  margin-left: 1080px;
  margin-top: -270px;
  font-family: "Popins", sans-serif;
}
.info_images_text {
  color: #645c55;
  margin-left: 1080px;
  margin-top: -10px;
  width: 285px;
  height: 50px;
  font-family: "Popins", sans-serif;
}
.process_content {
  margin-top: 320px;
}
.process_content p {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  color: #645c55;
  font-family: "Popins", sans-serif;
}
.process_content h2 {
  display: flex;
  justify-content: center;
  color: #1b1a1a;
  font-family: "Popins", sans-serif;
  font-weight: 200;
}
